*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #8844EE;
    --text-color-primary:#000000;
    --text-color-secondary: #ffffff;
    --text-color-terciary: #B07DFB;
    --font-family: "Cambria", serif;
}
body{
    max-width: 900px;
    max-height: 900px;
    margin-inline: auto;
    padding-block: 16px;
    padding-left: 100px;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
}
img{
    border-radius: 5px;
}
